# Bytecode Python
__pycache__/
*.py[cod]
*$py.class

# Variáveis de Ambiente
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Banco de Dados
*.sqlite3
*.db

# Docker
.dockerignore

# IDEs
.vscode/
.idea/